.chat_action {
  padding: 0;
  height: 0;
}

.chat_messages {
  flex: 1 1 auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #555;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
