.chat_action {
  padding: 0;
  height: 0;
}

.chat_messages {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.only_chat {
  display: flex;
}
