* {
  box-sizing: border-box;
}

html,
body,
input,
button,
a,
ul {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
  letter-spacing: 0.2px;
}

input,
button {
  outline: none;
}

ul,
li {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

