.cross_button {
  background-color: #6ecac3;
  color: #fff;
  font-size: 16px;
  padding: 5px 5px;
  margin: 0 10px;
  border-radius: 5px;
  width: 100%;
  letter-spacing: 1px;
  cursor: pointer;
  text-shadow: 1px 1px 3px #333;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.cross_button:hover {
  background-color: #6eca8a;
}

.disabled {
  background-color: #547979;
  color: #a5a5a5;
}

.hide {
  display: none;
}

@media screen and (max-width: 380px) {
  .cross_button {
    font-size: 14px;
  }
}
