.chat_wrapper {
  display: flex;
  color: #bbb;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.chat_channels {
  height: 100%;
  width: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
  padding: 5px;
  order: -1;
}

.chat_users {
  height: 100%;
  width: 100%;
  max-width: 150px;
  background-color: #333;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

.chat_main {
  width: 100%;
  height: 100%;
  display: flex;
}

.chat_channels_controls {
  display: flex;
}

.chat_button_create {
  border-radius: 8px;
  border: none;
  width: 100%;
  align-self: center;
  background: linear-gradient(308deg, rgba(243, 213, 116, 0.45) 0%, rgba(226, 18, 35, 0.45) 50%, rgba(243, 83, 158, 0.45) 100%);
  color: #ccc;
  padding:10px;
  font-size: 16px;
  position: relative;
  transition-property: background, transform, box-shadow, color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.chat_button_create:hover {
  background: linear-gradient(308deg, rgba(243, 213, 116, 0.863)  0%, rgba(226, 18, 35, 0.781) 60%, rgba(243, 83, 158, 0.808) 100%);
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, .5);
  color: #eee;
}

.chat_channels_list {
  padding: 10px 10px 10px 0;
}

.chat_channel {
  background-color: #555;
  background-color: rgba(243, 177, 116, 0.418);
  padding: 5px 5px;
  margin-bottom: 8px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.chat_channel_text {
  font-size: 16px;
  width: calc(100% - 30px);
  overflow: hidden;
}

.chat_channel_icon {
  width: 25px;
  height: 25px;
  border-radius: 8px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.chat_channel:hover {
  /* background-color: #8a8888; */
  background-color: rgba(243, 192, 116, 0.671);
  color: #fff;
}

.chat_channel_joined {
  background-color: rgba(231, 105, 73, 0.74);
  color: #fff;
}

.relative_pos {
  position: relative;
}

.default_hidden {
  display: none;
}

@media screen and (max-width: 870px) {
  .chat_wrapper {
    flex-direction: column;
    width: 100%;
  }
  .chat_channels {
    height: 150px;
    width: 100%;
    flex-shrink: 1;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: row;
  }
  .chat_channels_list {
    display: flex;
    justify-content: flex-start;
  }
  .chat_channel {
    margin-right: 10px;
    max-width: 100px;
  }

  .chat_users {
    height: 150px;
    width: 100%;
    min-width: 100%;
    flex-shrink: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .chat_category {
    display: flex;
    margin-bottom: 0;
  }

  .chat_category_name {
    margin-right: 10px;
  }

  .chat_user {
    margin-right: 10px;
  }

  .chat_main {
    height: 100%;
  }

  .chat_button_create {
    width: 150px;
  }
}
