.chat_wrapper {
  display: flex;
  color: #bbb;
  height: 100%;
}

.chat_channels {
  height: 100%;
  width: 100px;
  background-color: #333;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

.chat_messages {
  max-height: 300px;
  width: 100%;
  padding: 10px;
  background-color: #555;
  overflow-y: scroll;
}

.chat_users {
  height: 100%;
  width: 100%;
  max-width: 150px;
  background-color: #333;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

.chat_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.chat_action {
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  /* height: 70%; */
  width: 100%;
}


.chat_message {
  margin-bottom: 10px;
}

.chat_input {
  display: flex;
  padding: 10px;
  background-color: #555;

}

.chat_input_field {
  width: 100%;
  background-color: #777;
  border: none;
  padding: 10px;
  color: #fff;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.chat_send_button {
  width: 100px;
  background-color: #444;
  border: none;
  padding: 10px;
  color: #fff;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}


.chat_user {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.message_avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 100%;
  flex-shrink: 0;
  margin-right: 10px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.message_wrapper {
  display: flex;
}

.message_main {
  width: 100%;
}

.message_header {
  display: flex;
  justify-content: space-between;
}

.message_user {
  display: flex;
  color: #fff;
  font-size: bold;
}

/* .message_date {} */

/* .message_body {} */

.chat_channels_controls {
  display: flex;
  padding: 10px 10px;
}

.default_button {
  background-color: #494;
  border: none;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s all ease;
}

.default_button:hover {
  background-color: #59af59;
}

.chat_channels_list {
  padding: 10px;
}

.chat_channel {
  background-color: #555;
  padding: 5px 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: .2s all ease;
}

.chat_channel:hover {
  background-color: #8a8888;
  color: #fff;
}

.chat_category {
  margin-bottom: 20px;
  padding: 10px;
}

.chat_category_name {
  margin-bottom: 5px;
}

/* .chat_category_list {} */

.default_avatar_small {
  width: 28px;
  height: 28px;
  border: 1px solid #fff;
  border-radius: 100%;
  flex-shrink: 0;
  margin-right: 10px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.default_name {
  color: #fff;
}
.btn_enter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #000000;
}

.relative_pos {
  position: relative;
}

.default_hidden {
  display: none;
}

@media screen and (max-width: 870px) {
  .chat_wrapper {
    flex-direction: column;
    width: 100%;
  }
  .chat_channels {
    height: 150px;
    width: 100%;
    flex-shrink: 1;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: row;
  }
  .chat_channels_list {
    display: flex;
    justify-content: flex-start;
  }
  .chat_channel {
    margin-right: 10px;
    max-width: 100px;
  }

  .chat_users {
    height: 150px;
    width: 100%;
    min-width: 100%;
    flex-shrink: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .chat_category {
    display: flex;
    margin-bottom: 0;
  }

  .chat_category_name {
    margin-right: 10px;
  }

  .chat_user {
    margin-right: 10px;
  }

  .chat_main {
    height: 100%;
  }
}
