.paginate_wrapper {
  display: flex;
  flex-direction: column;
}

.paginate_button {
  padding: 5px 20px;
  margin-bottom: 8px;
  border-radius: 5px;
  background-color: rgba(231, 105, 73, 0.55);
  color: #fff;
  border: none;
}

.title_paginate {
  font-size: 12px;
  text-align: center;
}

.default_hidden {
  display: none;
}

.wrapper_common_pag {
  margin-top: 10px;
}

@media screen and (max-width: 870px) {
  .paginate_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .paginate_button {
    margin-left: 5px;
  }
}