.paginate_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.paginate_button {
  padding: 5px 10px;
  width: 90px;
  margin-bottom: 8px;
  border-radius: 5px;
  background-color: rgba(21, 118, 148, 0.678);
  color: #ccc;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  transition-property: background-color, color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.paginate_button:hover,
.paginate_button_joined {
  background-color: rgba(38, 194, 194, 0.74);
  color: #fff;
}

.title_paginate {
  font-size: 12px;
  text-align: center;
  margin-bottom: 5px;
  color: #ccc;
}

.default_hidden {
  display: none;
}

.wrapper_common_pag {
  margin: 10px 5px;
}

@media screen and (max-width: 870px) {
  .paginate_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .paginate_button {
    margin-left: 5px;
  }

  .title_paginate {
    text-align: start;
    margin-bottom: 5px;
    margin-left: 5px;
  }

}