.game_action_size {
  --size: 100%;
}

.chess_wrapper {
  background-color: transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* width: 600px; */
  margin: 0 auto;
}

.chess_board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  transition-property: transform;
  transition-duration: .5s;
  transition-timing-function: ease;
}

.chess_board_view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 0;
}

.chess_board_cell {
  /* width: calc(100% / 8);
  height: calc(100% / 8); */
  color: #333;
}

.cell_light {
  background-color: #eee;
}

.cell_dark {
  background-color: #666;
}

.chess_field {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.chess_board.rotate {
  transform: rotate(180deg);
}

.chess_row {
  display: flex;
}

.chess_cell {
  width: calc(100% / 8);
  height: calc(100% / 8);
  /* width: 100%;
  height: 100%; */
  cursor: pointer;
  font-size: 50px;
  color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.chess_cell_hover {
  background-color: #6586b888;
}

.drag_item {
  /* width:60px;
  height:60px; */
  position: absolute;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag_item_inner {
  width: 90%;
  height: 90%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}


.clicked {
  pointer-events: none;
  cursor: default;
  background-color: #333;
}

.chess_head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  width: 100%;
}

.chess_player {
  padding: 5px;
}

.chess_timer {
  padding: 5px;
  color: #fff;
  font-size: 22px;
}

.chess_body {
  display: flex;
  height: 430px;
  width: 540px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
}

.chess_history {
  width: 100px;
  padding: 5px;
  padding-right: 10px;
  margin-right: 10px;
  overflow-y: scroll;
  flex-shrink: 0;
  color: #ccc;
  background-color: rgba(255, 255, 255, 0.2);
  height: 430px;
}

.chess_history_item {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chess_history_figure {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.chess_history_header {
  font-weight: bold;
  margin-bottom: 5px;
}

.chess_controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.chess_button {
  background-color: #555;
  color: #fff;
  font-size: 18px;
  padding: 5px 5px;
  margin: 0 10px 5px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.chess_button.disabled {
  background-color: #3a3a3a;
  color: #a5a5a5;
}

.modal_wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.modal_message {
  width: 300px;
  min-height: 200px;
  margin: 0 auto;
  background-color: #777;
  border-radius: 5px;
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal_text {
  color: #fff;
  text-align: center;
}

.valid_move {
  box-shadow: inset 0 0 40px #6af187d2;
}

.figure-rotate {
  transform: rotate(180deg);
}


.king_check {
  box-shadow: inset 0 0 40px #f16a6ad2;
}

.king_rival_check {
  box-shadow: inset 0 0 40px #ee69eed2;
}

.king_rival_mate {
  box-shadow: inset 0 0 40px #f1ff2bd2;
}

.recommended_move {
  box-shadow: inset 0 0 40px #44b3f3d2;
}

.player_left_active,
.player_right_active {
  position: relative;
  color: #fff;
}

.player_left_active::after {
  content: '';
  position: absolute;
  right: -25px;
  top: -10%;
  width: 30px;
  height: 30px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../assets/chess-figures/whiteBishop.svg');
}

.player_right_active::before {
  content: '';
  position: absolute;
  left: -25px;
  top: -10%;
  width: 30px;
  height: 30px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../assets/chess-figures/whiteBishop.svg');
}

.history_dark {
  color: #333;
}

@media screen and (max-height: 800px) {
  .chess_body {
    height: 280px;
    width: 390px;
  }
  .chess_history {
    height: 280px;
  }

  .chess_button {
    font-size: 16px;
  }
}

@media screen and (max-height: 700px) {
  .chess_body {
    height: 350px;
    width: 460px;
  }
  .chess_history {
    height: 350px;
  }

  .chess_button {
    font-size: 16px;
  }
}

@media screen and (max-width: 870px) {
  .chess_wrapper {
    max-width: 500px;
  }
}
