.popup_blackout {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #0009;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_layer {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: brown;
}

.popup_wrapper {
  position: relative;
  width: 100%;
  /* max-width: 500px; */
  width: 500px;
  min-height: 300px;
  background-color: #ccc;
  color: #000;
  border-radius: 10px;
  /* padding: 30px; */
}

.popup_default_button {
  padding: 10px;
}

/*select game popup*/

.game_icon:hover {
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.26);
  transform: scale(1.05);
  transition: 0.2s all;
}

.game_icon {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 140px;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 35px;
  transition: 0.2s all;
}

.games {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.title_game_select {
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.game-settings-popup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 2%;
}

.game_settings_popup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 2%;
}

.choice_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33%;
}

.settings_button {
  border-radius: 15px;
  border: none;
  /* width: 80%; */
  width: 130px;
  align-self: center;
  background: linear-gradient(308deg, rgb(254, 74, 51) 0%, rgb(220, 104, 119) 70%);
  color: #fafafa;
  padding: 10px;
  font-size: 18px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  transition-property: background;
  transition-duration: .2s;
  transition-timing-function: ease;
  /* padding: 10%; */
  /* width: 90%; */
}

.settings_button_disabled {
  background: linear-gradient(308deg, rgba(254, 75, 51, 0.603) 0%, rgba(220, 104, 120, 0.603) 70%);
}

.choice_icon_wrapper {
  /* width: 80%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.close_button {
  position: absolute;
  background-image: url("../../assets//select-game-popup/close.png");
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
}

.choice_icon {
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 90%; */
  width: 120px;
  height: 120px;
  /* height: 90%; */
}

.title_settings-chess {
  font-size: 35px;
  text-align: center;
  color: #fff;
  margin-bottom: 5%;
  width: 100%;
}

/*create popup form styles*/

.input_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.buttons_wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.settings_channel_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.settings_title {
  width: 100%;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.caption {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

/* input[type="text"] {
  display: inline-block;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
} */

.popup_inputText {
  display: inline-block;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  /* align-self: center; */
}

/*settings-create game chess*/

.wrapper_all_radio_btns {
  display: flex;
}

.radio_wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 31%;
	margin-right: 10px;
  margin-bottom: 20px;
  font-size: 15px;
}

.input_radio {
	display: none;
}

.label_radio {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
  background: linear-gradient(308deg, rgb(254 74 51) 0%, rgb(220 104 119) 70%);
  font-size: 20px;
  color: #fafafa;
}

/* Checked */
.radio_wrapper .input_radio:checked + .label_radio {
  background: rgb(60,67,158);
  background: linear-gradient(180deg, rgba(60,67,158,1) 44%, rgba(188,0,255,1) 100%);
}
/* Hover */
.label_radio:hover {
	color: rgb(171, 240, 10);
}

.create_popup {
  display: flex;
  flex-direction: column;
}

/*register check popup*/
.wrapper_auth,
.wrapper_reg {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.wrapper_auth {
  background: rgb(83,156,109);
  background: linear-gradient(90deg, rgba(83,156,109,1) 0%, rgba(11,164,173,1) 58%, rgba(0,212,255,1) 100%); 
  border-radius: 10px 0 0 10px;
}

.title_checked_auth,
.title_checked_reg {
  font-size: 32px;
}

.register_check {
  display: flex;
  justify-content: center;
}

.description_auth,
.description_reg {
  font-size: 20px;
}

/*join channel*/

.wrapper_join {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
}

.wrapper_btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*settings user*/

.label_avatar {
  cursor: pointer;
  width: 120px;
  height: 120px;
  display: inline-block;
  /* background-image: url("../../assets/select-game-popup/avat-def.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  align-self: center;
}

input[type="file"] {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.settings_user {
  display: flex;
  flex-direction: column;
}

.title_avatar {
  text-align: center;
}

.settings_user {
  padding: 30px;
}

input[id="name"] {
  height: 30px;
  padding-left: 10px;
  max-width: 400px;
  align-self: center;
  margin-bottom: 10px;
}

/*popup auth*/

.wrapper_auth_main,
.wrapper_reg_popup,
.wrapper_settings_game_chess,
.reconnect_popup,
.check_popup {
  background: rgb(83,156,109);
  background: linear-gradient(90deg, rgba(83,156,109,1) 0%, rgba(11,164,173,1) 58%, rgba(0,212,255,1) 100%); 
  border-radius: 10px;
  padding: 30px;
}

.caption {
  font-size: 16px;
}

.input_error {
  width: 100%;
  height: 30px;
}

.input_field {
  height: 35px;
  font-size: 15px;
  width: 100%;
}

/*regform*/

.wrapper_reg_popup {
  display: grid;
  grid-template-columns: 65% 60%;
}

.wrapper_inputs_reg {
  width: 100%;
}

.wrapper_reg_popup .label_avatar {
  width: 150px;
  height: 150px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*reconect popup*/
.reconnect_title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 40px;
}

.reconnect_popup,
.check_popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1% 0 1%;
}

/*checksession*/
.title_check {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.default_hidden {
  display: none;
}

@media screen and (max-width: 550px) {
  .game_settings_popup {
    flex-direction: column;
    align-items: center;
  }

  .choice_wrapper {
    margin-top: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .games {
    flex-direction: column;
  }

  .game_icon {
    margin-bottom: 10px;
  }
}
