.chat_wrapper {
  display: flex;
  color: #bbb;
  /* height: 100%; */
  height: 100vmin;
}

.chat_messages {
  height: 15%;
  width: 100%;
  padding: 10px;
  background-color: rgba(31, 53, 46, 0.63);
  overflow-y: scroll;
  position: relative;
  flex-shrink: 0;
}

.mainView_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 100%;
}

.chat_action {
  background-color: rgba(31, 53, 46, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: calc(100% - 15% - 130px - 35px);
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.chat_message {
  margin-bottom: 10px;
}

.chat_user {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.message_avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 100%;
  flex-shrink: 0;
  margin-right: 10px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.message_wrapper {
  display: flex;
}

.message_main {
  width: 100%;
}

.message_header {
  display: flex;
  justify-content: space-between;
}

.message_user {
  display: flex;
  color: #fff;
  font-size: bold;
}

.default_avatar_small {
  width: 28px;
  height: 28px;
  border: 1px solid #fff;
  border-radius: 100%;
  flex-shrink: 0;
  margin-right: 10px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.default_name {
  color: #fff;
}
.btn_enter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #000000;
}

.relative_pos {
  position: relative;
}

.default_hidden {
  display: none;
}

.chat_users {
  padding: 10px;
  padding-left: 0px;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(31, 53, 46);
}
.chat_players {
  padding: 10px;
  padding-left: 0px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(31, 53, 46);
}

.chat_category {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chat_category_name {
  margin-right: 10px;
  color: #bbb;
}

::-webkit-scrollbar {
  width: 10px; /* width fri vertical scroll */
  height: 8px; /* height for horizontal scroll*/
  background-color: rgb(57, 82, 75);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(80, 119, 119);
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(89, 143, 153);
}

.chat_scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(131, 190, 190) rgb(67, 92, 97) ;
}

@media screen and (max-width: 870px) and (max-height: 1000px){
  .chat_action {
    height: calc(100% - 130px - 35px + 50px);
  }
  .chat_messages {
    display: none;
  }
  
  .chat_category {
    display: flex;
    margin-bottom: 0;
  }

  .chat_category_name {
    margin-right: 10px;
  }

  .chat_user {
    margin-right: 10px;
  }

  .chat_main {
    height: 100%;
  }
}

@media screen and (max-height: 700px) {
  .chat_action {
    height: calc(100% - 130px - 35px + 50px);
  }
  .chat_messages {
    display: none;
  }
}