.cross_wrapper {
  background-color: transparent;
}

.cross_cells {
  background-color: #555;
  transition: .5s all ease;
}

.cross_cells.rotate {
  transform: rotate(180deg);
}

.cross_row {
  display: flex;
}

.cross_cell {
  width: 80px;
  height: 80px;
  background-color: #888;
  margin: 5px;
  cursor: pointer;
  font-size: 50px;
  color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: .2s ease;
  transition-timing-function: ease;
}

.cross_cell:hover {
  background-color: #b8b1b1;
}

.clicked {
  pointer-events: none;
  cursor: default;
  background-color: #333;
}

.cross_head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cross_player {
  padding: 5px;

}

.cross_timer {
  padding: 5px;
  color: #fff;
  font-size: 22px;
}

.cross_body {
  display: flex;
}

.cross_history {
  /* height: 100%; */
  height: 270px;
  padding: 5px;
  padding-right: 20px;
  overflow-y: scroll;
}

.cross_history_item {
  margin-bottom: 5px;
}

.cross_history_header {
  font-weight: bold;
  margin-bottom: 5px;
}

.cross_controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cross_button {
  background-color: #555;
  color: #fff;
  font-size: 18px;
  padding: 5px 5px;
  margin: 0 10px 5px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  /* transition: .2s all ease; */
}

.player_active {
  position: relative;
  color: #fff;
}

.player_active::after {
  content: '';
  position: absolute;
  right: -25px;
  top: -10%;
  width: 30px;
  height: 30px;
  background-color: #ff0000;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-image: url('../../assets/whiteBishop.svg'); */
}

@media screen and (max-width: 370px) {
  .cross_cells {
    max-width: 240px;
  }
}
