.record_wrapper {
  display: flex;
  flex-direction: column;
  color: #ccc;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

.record_title {
  font-size: 28px;
  text-align: center;
  padding: 10px;
}

.record_table_wrapper {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto 20px;
  padding: 10px;
  overflow-y: scroll;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: rgb(131, 190, 190) rgb(67, 92, 97) ;
}



.replay_popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.record_table_header {
  background: linear-gradient(308deg, rgba(167, 250, 253, 0.5) 0%, rgba(25, 189, 80, 0.5) 50%, rgba(253, 237, 147, 0.5) 100%);
  padding: 10px 5px;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 1020px;
  color: #eee;
}

.record_game_name,
.record_date {
  width: 110px;
  padding: 0 5px;
  display: flex;
  flex-shrink: 0;
  text-align: start;
}

.record_time {
  width: 110px;
  padding: 0 5px;
  display: flex;
  flex-shrink: 0;
  text-align: start;
  overflow: hidden;
}

.record_players {
  display: flex;
  max-width: 600px;
  width:100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.record_winner {
  width: 120px;
  padding: 0 5px;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
}

.record_mode {
  width: 120px;
  padding: 0 5px;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
}

.odd_record {
  background-color: rgba(88, 126, 107, 0.644);
}

.even_record {
  /* background-color: rgba(141, 99, 122, 0.548); */
  background-color: transparent;
}

.record_line {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 1000px;
  padding: 10px 5px;
}

.record_button {
  border-radius: 15px;
  border: none;
  width: 100px;
  align-self: center;
  background: linear-gradient(308deg, rgba(167, 250, 253, 0.863) 0%, rgba(25, 189, 80, 0.788) 50%, rgba(253, 237, 147, 0.801) 100%);
  box-shadow: 1px 1px 5px #000;
  color: #fafafa;
  padding:10px;
  font-size: 16px;
  position: relative;
  transition: .2s all ease;
  color: #fff;
}

.record_button:hover {
  background: linear-gradient(308deg, rgba(167, 250, 253, 0.863) 0%, rgba(25, 138, 63, 0.788) 50%, rgba(252, 240, 80, 0.801) 100%);
  transform: translate(1px, 1px);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
  color: #fff;
}

.default_hidden {
  display: none;
}
.record_player {
  width: 235px;
  min-width: 140px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.record_player_avatar {
  flex-shrink: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 5px;
}

.record_player_login {
  margin: 0 5px;
  min-width: 100px;
  text-align: start;
  max-width: 200px;
  overflow: hidden;
}

.record_player_vs {
  width: 50px;
  text-align: center;
  padding: 0 5px;
}


.record_time_watch {
  width: 180px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.record_table_body {
  width: 100%;
}

.record_replayScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  width: 630px;
}

.replay_wrapper {
  width: 700px;
  padding: 5px;
}

@media screen and (max-height: 700px) {
  .replay_wrapper {
    height: 550px;
    width: 480px;
  }
  .record_replayScreen {
    height: 350px;
    width: 480px;
  }
}

.record_closeButton {
    position: absolute;
    background-image: url("../../assets/select-game-popup/close.png");
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    border: none;
    background-color: transparent;

}

