.record_wrapper {
  display: flex;
  flex-direction: column;
  color: #bbb;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

.record_title {
  font-size: 28px;
  text-align: center;
  padding: 10px;
}

.record_table_wrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
  /* background-color: #555; */
  overflow-y: scroll;
  position: relative;
}



.replay_popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.record_table_header {
  background: linear-gradient(308deg, rgba(243, 213, 116, 0.4) 0%, rgba(226, 18, 35, 0.4) 50%, rgba(243, 83, 158, 0.4) 100%);
  padding: 10px 5px;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 1020px;
  color: #ccc;
}

.record_game_name,
.record_date {
  width: 110px;
  padding: 0 5px;
  display: flex;
  flex-shrink: 0;
  text-align: start;
}

.record_time {
  width: 110px;
  padding: 0 5px;
  display: flex;
  flex-shrink: 0;
  text-align: start;
  overflow: hidden;
}

.record_players {
  display: flex;
  width:100%;
  justify-content: space-around;
  align-items: center;
}

.record_winner {
  width: 120px;
  padding: 0 5px;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
}

.record_mode {
  width: 120px;
  padding: 0 5px;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
}

.odd_record {
  background-color: rgba(94, 84, 107, 0.521);
}

.even_record {
  /* background-color: rgba(141, 99, 122, 0.548); */
  background-color: transparent;
}

.record_line {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 1000px;
  padding: 10px 5px;
}



.record_button {
  border-radius: 15px;
  border: none;
  width: 100px;
  align-self: center;
  background: linear-gradient(308deg, rgba(243, 213, 116, 0.6) 0%, rgba(226, 18, 35, 0.6) 50%, rgba(243, 83, 158, 0.6) 100%);
  padding:10px;
  font-size: 16px;
  position: relative;
  transition: .2s all ease;
  color: #ccc;
}

.record_button:hover {
  background: linear-gradient(308deg, rgba(243, 213, 116, 0.863)  0%, rgba(226, 18, 35, 0.781) 60%, rgba(243, 83, 158, 0.808) 100%);
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, .5);
  color: #fafafa;
}

.default_hidden {
  display: none;
}
.record_player {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.record_player_avatar {
  flex-shrink: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 5px;
}

.record_player_login {
  margin: 0 5px;
  min-width: 100px;
  text-align: start;
}

.record_player_vs {
  width: 50px;
  text-align: center;
  padding: 0 5px;
}


.record_time_watch {
  width: 180px;
  display: flex;
  flex-shrink: 0;
}

.record_table_body {
  width: 100%;
}

.record_replayScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.record_closeButton {
    position: absolute;
    background-image: url("../../assets//select-game-popup/close.png");
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    border: none;
    background-color: transparent;

}