.header_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #000;
  color: #ccc;
  font-family: helvetica, arial, sans-serif;
  height: 50px;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../assets/appLogo.png");
}

.header_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_item {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  border-radius: 3px;
}

.nav_link:hover {
  color: #fff;
}

.nav_link__active {
  background-color: #fff6;
  background: linear-gradient(308deg, rgba(167, 250, 253, 0.65) 0%, rgba(25, 189, 80, 0.45) 50%, rgba(253, 237, 147, 0.65) 100%);
}

.header_auth {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.auth_user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  transition: .2 all ease;
}



.auth_controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: .2 color ease;
}

.auth_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.auth_avatar {
  border-radius: 100%;
  border: solid 1px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  flex-shrink: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.auth_button:hover,
.auth_controls:hover, 
.auth_user:hover .auth_avatar,
.auth_user:hover .auth_nickname {
  color: #fff;
}

.default_hidden {
  display: none;
}

.connected {
  /* box-shadow: 0 0 3px 7px rgba(243, 213, 116, 0.8); */
  animation-name: online;
  animation-duration: 3s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes online {
  0% {
    box-shadow: 0 0 3px 7px transparent;
  }
  50% {
    box-shadow: 0 0 3px 7px rgba(243, 213, 116, 0.8);
  }
  100% {
    box-shadow: 0 0 3px 7px transparent;
  }
}