.about_wrapper {
  width: 100%;
  height: 100%;
  background-color: #333;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about_fade {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  margin: auto auto;
  justify-content: space-around;
  align-items: center;
}

.about_inner {
  width: 80%;
  height: 70%;
  display: flex;
  margin: auto auto;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.about_text_wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto 30px;
  justify-content: center;
}

.about_welcome {
  font-size: 24px;
  line-height: 36px;
  width: 100%;
  font-weight: 500;
  margin: 0 auto 30px;
  background: linear-gradient(308deg, rgb(243, 213, 116) 0%, rgb(253, 53, 69) 50%, rgb(253, 147, 196) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.about_button {
  border-radius: 15px;
  border: none;
  width: 200px;
  align-self: center;
  background: linear-gradient(308deg, rgba(243, 213, 116, 0.863) 0%, rgba(226, 18, 35, 0.788) 50%, rgba(243, 83, 158, 0.801) 100%);
  color: #fafafa;
  padding:15px 10px;
  font-size: 30px;
  position: relative;
  transition: .2s all ease;
}

.about_button:hover {
  background: linear-gradient(308deg, rgba(243, 213, 116, 0.863)  0%, rgba(226, 18, 35, 0.781) 60%, rgba(243, 83, 158, 0.808) 100%);
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, .5);
}