.button_channel {
  border-radius: 8px;
  border: none;
  width: 100%;
  align-self: center;
  background: linear-gradient(308deg, rgba(167, 250, 253, 0.863) 0%, rgba(25, 189, 80, 0.788) 50%, rgba(253, 237, 147, 0.801) 100%);
  color: #eee;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  padding:10px;
  font-size: 16px;
  position: relative;
  transition-property: background, transform, box-shadow, color, text-shadow;
  transition-duration: .2s;
  transition-timing-function: ease;}

.button_channel:hover {
  background: linear-gradient(308deg, rgba(167, 250, 253, 0.863) 0%, rgba(25, 138, 63, 0.788) 50%, rgba(252, 240, 80, 0.801) 100%);
  text-shadow: 0 0 3px rgba(0, 0, 0, .8);
  transform: translate(1px, 1px);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
  color: #fff;
}

.disabled {
  background-color: #3a3a3a;
  color: #a5a5a5;
}

.hide {
  display: none;
}

@media screen and (max-width: 380px) {
  .button_channel {
    font-size: 14px;
  }
}
